form {
    margin-bottom: 3.5rem;
}

input {
    border: 1px solid hsl(223, 100%, 88%);
    width: 400px;
    padding: 0.78rem;
    border-radius: 30px;
    outline: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.72rem;
    color: hsl(209, 33%, 12%);
    font-weight: 300;
    margin-right: 0.7rem;
    padding-left: 1.3rem;
}

input::placeholder {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.72rem;
    color: hsl(223, 100%, 88%);
}

#submit {
    width: 180px;
    padding: 0.72rem;
    border-radius: 30px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 0.8rem;
    color: white;
    background-color: hsl(223, 87%, 63%);
    outline: none;
    border: 1px solid hsl(223, 87%, 63%);
    cursor: pointer;
    box-shadow: -3px 5px 8px hsl(223, 100%, 88%);
    transition: all 100ms ease-in;
}

#submit:hover {
    filter: brightness(115%);
}

#error-text {
    position: absolute;
    color: hsl(354, 100%, 66%);
    font-style: italic;
    font-weight: 300;
    font-size: 0.58rem;
    margin-top: 0.3rem;
    margin-left: 1.15rem;
}

@media (max-width: 800px) {
    input {
        width: 380px;
    }
    
    #submit {
        width: 160px;
    }
}

@media (max-width: 600px) {

    input, #submit {
        width: 310px;
        margin-right: 0;
    }
    
    #submit {
        display: block;
        margin-top: 0.6rem;
    }

    #error-text {
        position: static;
        margin-left: 2.3rem;
        margin-bottom: 1.3rem;
    }
}

@media (max-width: 335px) {
    input, #submit {
        width: 270px;
    }
}